.funFact {
  

  .funFactItem {
    grid-column: span 3;
    margin: 4rem 0;
    text-align: center;

    .box {
      width: 16rem;
      height: 16rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 1;
      position: relative;

      h2{
          font-size: 3.5rem;
      }

      p{
          text-transform: capitalize;
      }
    }

    & .box::before,
    & .box::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      border-radius: 20%;
    }

    & .box::before {
      transform: rotate(22deg);
      opacity: 0.3;
      z-index: -2;
    }
    & .box::after {
      transform: rotate(45deg);
      opacity: 0.5;
      z-index: -1;
    }

    &:nth-child(1) {
      .box::before,
      .box::after {
        background-color: $light-red;
      }
    }

    &:nth-child(2),
    &:nth-child(4) {
      .box::before,
      .box::after {
        background-color: $main-color;
      }
    }

    &:nth-child(3) {
      .box::before,
      .box::after {
        background-color: $light-yellow;
      }
    }
  }
}
