@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  font-style: none;
  transform: all 0.2s linear;
  font-family: "Poppins", sans-serif;
}

::before,
::after {
  box-sizing: border-box;
}

@keyframes moveX {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20%);
  }
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 300;
  background: $body-bg-color;
  color: $black-70;
  overflow-x: hidden;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  color: $black-90;
}

a {
  color: $main-color;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.container {
  max-width: 117rem;
  margin: auto;
  padding: 0 1.5rem;
}
