@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  font-style: none;
  transform: all 0.2s linear;
  font-family: "Poppins", sans-serif;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  font-weight: 300;
  font-size: 62.5%;
  background: $body-bg-color;
  color: $black-70;
  overflow-x: hidden;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  color: $black-90;
}

a {
  color: $main-color;
}

.container{
    max-width: 117rem;
    background-color: red;
    margin: auto;
    padding: 0 1.5rem;
}
