@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-style: none;
  transform: all 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: $body-bg-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $main-color;
  }
}
::before,
::after {
  box-sizing: border-box;
}

::selection {
  color: $white;
  background: $main-color;
}

body {
  font-weight: 300;
  background: $body-bg-color;
  color: $black-70;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  color: $black-90;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
}

a {
  color: $main-color;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

p,
li {
  font-size: 1.4rem;
}

.sectionPadding {
  padding: 8rem 0;
}

.container {
  max-width: 117rem;
  margin: auto;
  padding: 0 1.5rem;

  .sectionTitle {
    text-align: center;
    margin-bottom: 4rem;

    .title {
      @include titleText(1.8rem);
      margin: 0 0 0.8rem;
    }

    .subTitle {
      @include subTitle(4rem);
    }
  }
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: $main-color;
  color: $white;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1.5;
  vertical-align: middle;
  user-select: none;
  position: relative;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background: $white-alpha-50;
  }
  &::before {
    height: 0.8rem;
    width: 0.8rem;
    left: -0.8rem;
    top: 0.6rem;
    transition: left 0.2s ease;
  }
  &::after {
    height: 1rem;
    width: 1rem;
    right: -1rem;
    bottom: 0.6rem;
    transition: right 0.2s ease;
  }

  &:hover::before,
  &:hover::after {
    animation: spin 2s linear infinite;
  }

  &:hover::before {
    left: 1.4rem;
  }

  &:hover::after {
    right: 1.4rem;
  }
}

.row {
  @include grid(12);

  .fancyBrBox {
    width: 40rem;
    height: 40rem;
    margin: auto;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      border: 0.2rem solid transparent;
      border-radius: 50% 40% / 40% 50%;
      transform: rotate(150deg);
      z-index: -1;
    }

    img {
      border-radius: 30% 70% 50% 50% / 50%;
    }
  }
}
