.home {
  padding: 18rem 0 8rem;

  .row {
    @include grid(12);
    .homeText,
    .homeImg {
      grid-column: span 6;
      align-self: center;
    }
    .homeText {
      h3 {
        font-size: 4.5rem;
        text-transform: capitalize;
        margin: 0 0 2.5rem;
      }
    }
    .homeImg {
      position: relative;
      /* background: green; */
      .fancyBrBox {
        width: 40rem;
        height: 40rem;
        margin: auto;
        position: relative;
        z-index: 1;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          border: 0.2rem solid transparent;
          border-radius: 50% 40% / 40% 50%;
          transform: rotate(150deg);
          z-index: -1;
          border-color: $light-red;
        }

        img {
          border-radius: 30% 70% 50% 50% / 50%;
        }
      }

      .iconBox {
        position: absolute;
        left: -6rem;
        bottom: -3rem;
        animation: moveX 4s linear infinite;

        img {
          width: 10rem;
        }
      }
    }
  }
}
