.home {
  padding: 18rem 0 8rem;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 20rem;
    width: 20rem;
    background: var(--main-color);
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
  }

  .row {
    grid-column: span 6;
    .homeText,
    .homeImg {
      grid-column: span 6;
      align-self: center;
    }
    .homeText {
      h3 {
        font-size: 4.5rem;
        text-transform: capitalize;
        margin: 0 0 2.5rem;
      }

      p {
        margin: 0 0 3rem;
        font-size: 1.4rem;
      }
    }
    .homeImg {
      position: relative;

      .fancyBrBox {
  
        &::before {
          border-color: var(--light-red);
        }

      }

      .iconBox {
        position: absolute;
        left: -6rem;
        bottom: -3rem;
        animation: moveX 4s linear infinite;

        img {
          width: 10rem;
        }
      }
    }
  }
}
