@mixin grid($cols) {
  display: grid;
  grid-template-columns: repeat($cols, minmax(0, 1fr));
  gap: 3rem;
}

@mixin titleText($size) {
  font-size: $size;
  font-weight: 500;
  text-transform: capitalize;
  color: $main-color;
}

@mixin subTitle($size) {
  font-size: $size;
  font-weight: 600;
  color: $black-90;
  text-transform: capitalize;
  line-height: 1.2;
}


