$main-color: hsl(257, 68%, 76%);
$light-red: hsl(0, 67%, 71%);
$light-yellow: hsl(42, 73%, 74%);
$black-90: hsl(0, 0%, 10%);
$black-70: hsl(0, 0%, 30%);
$white: hsl(0, 0%, 100%);
$white-alpha-40: hsla(0, 0%, 100%, 0.4);
$white-alpha-50: hsla(0, 0%, 100%, 0.5);
$body-bg-color: hsl(42, 71%, 87%);
$border-color-1: hsl(42, 45%, 73%);
$border-color-2: hsla(42, 45%, 73%, 0.4);
$shadow-color: hsl(42, 45, 73%);


