@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@-webkit-keyframes moveX {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20%);
  }
}
@keyframes moveX {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20%);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  font-style: none;
  transform: all 0.2s linear;
  font-family: "Poppins", sans-serif;
}

::before,
::after {
  box-sizing: border-box;
}

::-moz-selection {
  color: white;
  background: #b098eb;
}

::selection {
  color: white;
  background: #b098eb;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 300;
  background: #f5e7c6;
  color: #4d4d4d;
  overflow-x: hidden;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  color: #1a1a1a;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

a {
  color: #b098eb;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

.p {
  font-size: 1.4rem;
}

.container {
  max-width: 117rem;
  margin: auto;
  padding: 0 1.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: #b098eb;
  color: white;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1.5;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}
.btn::before, .btn::after {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
}
.btn::before {
  height: 0.8rem;
  width: 0.8rem;
  left: -0.8rem;
  top: 0.6rem;
  transition: left 0.2s ease;
}
.btn::after {
  height: 1rem;
  width: 1rem;
  right: -1rem;
  bottom: 0.6rem;
  transition: right 0.2s ease;
}
.btn:hover::before, .btn:hover::after {
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}
.btn:hover::before {
  left: 1.4rem;
}
.btn:hover::after {
  right: 1.4rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 3rem;
}
.row .fancyBrBox {
  width: 40rem;
  height: 40rem;
  margin: auto;
  position: relative;
  z-index: 1;
}
.row .fancyBrBox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border: 0.2rem solid transparent;
  border-radius: 50% 40%/40% 50%;
  transform: rotate(150deg);
  z-index: -1;
}
.row .fancyBrBox img {
  border-radius: 30% 70% 50% 50%/50%;
}

.home {
  padding: 18rem 0 8rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.home::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 20rem;
  width: 20rem;
  background: #b098eb;
  border-radius: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.home .row {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 3rem;
}
.home .row .homeText,
.home .row .homeImg {
  grid-column: span 6;
  align-self: center;
}
.home .row .homeText h3 {
  font-size: 4.5rem;
  text-transform: capitalize;
  margin: 0 0 2.5rem;
}
.home .row .homeText p {
  margin: 0 0 3rem;
}
.home .row .homeImg {
  position: relative;
}
.home .row .homeImg .fancyBrBox::before {
  border-color: #e78484;
}
.home .row .homeImg .iconBox {
  position: absolute;
  left: -6rem;
  bottom: -3rem;
  -webkit-animation: moveX 4s linear infinite;
          animation: moveX 4s linear infinite;
}
.home .row .homeImg .iconBox img {
  width: 10rem;
}

.about {
  overflow: hidden;
}
.about .container .sectionTitle {
  text-align: center;
  margin-bottom: 4rem;
}
.about .container .sectionTitle .title {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #b098eb;
  margin: 0 0 0.8rem;
}
.about .container .sectionTitle .subTitle {
  font-size: 4rem;
  font-weight: 600;
  color: #1a1a1a;
  text-transform: capitalize;
  line-height: 1.2;
}
.about .container .row .aboutImg,
.about .container .row .aboutText {
  grid-column: span 6;
}
.about .container .row .aboutImg {
  position: relative;
}
.about .container .row .aboutImg .fancyBrBox::before {
  border-color: #edd08c;
}
.about .container .row .aboutImg .fancyBrBox .iconBox {
  position: absolute;
  left: -6rem;
  bottom: -3rem;
  -webkit-animation: moveX 4s linear infinite;
          animation: moveX 4s linear infinite;
}
.about .container .row .aboutImg .fancyBrBox .iconBox img {
  width: 10rem;
}
.about .container .row .aboutText h3 {
  margin: 1.5rem 0;
}
.about .container .row .aboutText ul li {
  margin-bottom: 0.6rem;
  position: relative;
  padding-left: 3rem;
}
.about .container .row .aboutText ul li i {
  color: #b098eb;
  position: absolute;
  left: 0;
  top: 0.5rem;
}/*# sourceMappingURL=main.css.map */