@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@-webkit-keyframes moveX {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20%);
  }
}
@keyframes moveX {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20%);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  font-style: none;
  transform: all 0.2s linear;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #f5e7c6;
}

::-webkit-scrollbar-thumb {
  background-color: #b098eb;
}

::before,
::after {
  box-sizing: border-box;
}

::-moz-selection {
  color: white;
  background: #b098eb;
}

::selection {
  color: white;
  background: #b098eb;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 300;
  background: #f5e7c6;
  color: #4d4d4d;
  overflow-x: hidden;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  color: #1a1a1a;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
}

a {
  color: #b098eb;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

p,
li {
  font-size: 1.4rem;
}

.container {
  max-width: 117rem;
  margin: auto;
  padding: 0 1.5rem;
}
.container .sectionTitle {
  text-align: center;
  margin-bottom: 4rem;
}
.container .sectionTitle .title {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #b098eb;
  margin: 0 0 0.8rem;
}
.container .sectionTitle .subTitle {
  font-size: 4rem;
  font-weight: 600;
  color: #1a1a1a;
  text-transform: capitalize;
  line-height: 1.2;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: #b098eb;
  color: white;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1.5;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  cursor: pointer;
}
.btn::before, .btn::after {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
}
.btn::before {
  height: 0.8rem;
  width: 0.8rem;
  left: -0.8rem;
  top: 0.6rem;
  transition: left 0.2s ease;
}
.btn::after {
  height: 1rem;
  width: 1rem;
  right: -1rem;
  bottom: 0.6rem;
  transition: right 0.2s ease;
}
.btn:hover::before, .btn:hover::after {
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}
.btn:hover::before {
  left: 1.4rem;
}
.btn:hover::after {
  right: 1.4rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 3rem;
}
.row .fancyBrBox {
  width: 40rem;
  height: 40rem;
  margin: auto;
  position: relative;
  z-index: 1;
}
.row .fancyBrBox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border: 0.2rem solid transparent;
  border-radius: 50% 40%/40% 50%;
  transform: rotate(150deg);
  z-index: -1;
}
.row .fancyBrBox img {
  border-radius: 30% 70% 50% 50%/50%;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0.8rem 0;
  z-index: 2;
}
.header .headerMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .headerMain .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.header .headerMain .logo a {
  width: 3.2rem;
}
.header .headerMain .logo p {
  font-size: 2.8rem;
  text-transform: capitalize;
  font-weight: 600;
  color: #1a1a1a;
}
.header .headerMain .navToggler {
  width: 4rem;
  height: 4rem;
  border: none;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  background-color: rgba(255, 255, 255, 0.5);
}
.header .headerMain .navToggler i {
  transform: scale(3);
}
.header .headerMain .nav {
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 0.8rem;
  visibility: hidden;
}
.header .headerMain .nav ul li {
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  transform: translateY(2rem);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
}
.header .headerMain .nav ul li:first-child {
  border-radius: 1rem 1rem 0 0;
}
.header .headerMain .nav ul li:last-child {
  border-radius: 0 0 1rem 1rem;
}
.header .headerMain .nav ul li a {
  display: block;
  padding: 0.8rem 3rem;
  font-weight: 500;
  color: #1a1a1a;
  text-transform: capitalize;
  position: relative;
}
.header .headerMain .nav ul li a::before {
  content: "";
  height: 0.2rem;
  width: 0;
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(50%);
  background-color: #b098eb;
  transition: width 0.3s ease;
}
.header .headerMain .nav ul li a:hover::before {
  width: 1.2rem;
}

.home {
  padding: 18rem 0 8rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.home::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 20rem;
  width: 20rem;
  background: #b098eb;
  border-radius: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.home .row {
  grid-column: span 6;
}
.home .row .homeText,
.home .row .homeImg {
  grid-column: span 6;
  align-self: center;
}
.home .row .homeText h3 {
  font-size: 4.5rem;
  text-transform: capitalize;
  margin: 0 0 2.5rem;
}
.home .row .homeText p {
  margin: 0 0 3rem;
  font-size: 1.4rem;
}
.home .row .homeImg {
  position: relative;
}
.home .row .homeImg .fancyBrBox::before {
  border-color: #e78484;
}
.home .row .homeImg .iconBox {
  position: absolute;
  left: -6rem;
  bottom: -3rem;
  -webkit-animation: moveX 4s linear infinite;
          animation: moveX 4s linear infinite;
}
.home .row .homeImg .iconBox img {
  width: 10rem;
}

.about {
  overflow: hidden;
}
.about .container .row .aboutImg,
.about .container .row .aboutText {
  grid-column: span 6;
}
.about .container .row .aboutImg {
  position: relative;
}
.about .container .row .aboutImg .fancyBrBox::before {
  border-color: #edd08c;
}
.about .container .row .aboutImg .fancyBrBox .iconBox {
  position: absolute;
  left: -6rem;
  bottom: -3rem;
  -webkit-animation: moveX 4s linear infinite;
          animation: moveX 4s linear infinite;
}
.about .container .row .aboutImg .fancyBrBox .iconBox img {
  width: 10rem;
}
.about .container .row .aboutText h3 {
  margin: 1.5rem 0;
}
.about .container .row .aboutText ul li {
  margin-bottom: 0.6rem;
  position: relative;
  padding-left: 3rem;
}
.about .container .row .aboutText ul li i {
  color: #b098eb;
  position: absolute;
  left: 0;
  top: 0.5rem;
}

.services .container .row .servicesItem {
  grid-column: span 6;
  padding: 3rem 3rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 0 1rem #d9c79b;
}
.services .container .row .servicesItem .imgBox {
  width: 12rem;
  flex-shrink: 0;
  padding: 0.8rem;
  border-radius: 2rem;
  border: 0.1rem solid #d9c79b;
}
.services .container .row .servicesItem .imgBox img {
  border-radius: 2rem;
}
.services .container .row .servicesItem .text h3 {
  text-transform: capitalize;
  margin: 0 0 1.5rem;
}

.funFact .funFactItem {
  grid-column: span 3;
  margin: 4rem 0;
  text-align: center;
}
.funFact .funFactItem .box {
  width: 16rem;
  height: 16rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  position: relative;
}
.funFact .funFactItem .box h2 {
  font-size: 3.5rem;
}
.funFact .funFactItem .box p {
  text-transform: capitalize;
}
.funFact .funFactItem .box::before, .funFact .funFactItem .box::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 20%;
}
.funFact .funFactItem .box::before {
  transform: rotate(22deg);
  opacity: 0.3;
  z-index: -2;
}
.funFact .funFactItem .box::after {
  transform: rotate(45deg);
  opacity: 0.5;
  z-index: -1;
}
.funFact .funFactItem:nth-child(1) .box::before,
.funFact .funFactItem:nth-child(1) .box::after {
  background-color: #e78484;
}
.funFact .funFactItem:nth-child(2) .box::before,
.funFact .funFactItem:nth-child(2) .box::after, .funFact .funFactItem:nth-child(4) .box::before,
.funFact .funFactItem:nth-child(4) .box::after {
  background-color: #b098eb;
}
.funFact .funFactItem:nth-child(3) .box::before,
.funFact .funFactItem:nth-child(3) .box::after {
  background-color: #edd08c;
}

.pricing .row .pricingItem {
  grid-column: span 4;
  background: rgba(255, 255, 255, 0.4);
  padding: 3rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 1rem #d9c79b;
}
.pricing .row .pricingItem:hover .pricingHeader h3 span,
.pricing .row .pricingItem:hover .pricingHeader h3::before {
  transform: translateY(100%);
}
.pricing .row .pricingItem .pricingHeader .price {
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-top: 1rem;
  border-bottom: 1px solid #d9c79b;
  padding-bottom: 0.5rem;
}
.pricing .row .pricingItem .pricingHeader .price span {
  font-size: 1.6rem;
  margin-left: 1rem;
  font-weight: 300;
}
.pricing .row .pricingItem .pricingHeader h3 {
  font-size: 2.4rem;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
}
.pricing .row .pricingItem .pricingHeader h3::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  bottom: 100%;
  transition: transform 0.5s ease;
}
.pricing .row .pricingItem .pricingHeader h3,
.pricing .row .pricingItem .pricingHeader span {
  display: block;
  transition: transform 0.5s ease;
}
.pricing .row .pricingItem .pricingBody {
  padding: 1.5rem 0 2rem;
}
.pricing .row .pricingItem .pricingBody ul li {
  position: relative;
  margin-bottom: 0.6rem;
  padding-left: 2.5rem;
}
.pricing .row .pricingItem .pricingBody ul li i {
  position: absolute;
  left: 0;
  top: 0.5rem;
}
.pricing .row .pricingItem .pricingFooter {
  border-top: 1px solid #d9c79b;
  padding-top: 2rem;
}
.pricing .row .pricingItem.pricing1 .pricingHeader .price,
.pricing .row .pricingItem.pricing1 .pricingHeader h3::before,
.pricing .row .pricingItem.pricing1 .pricingHeader .pricingBody ul li i.fa-check-circle {
  color: #e78484;
}
.pricing .row .pricingItem.pricing1 .pricingFooter .btn {
  background-color: #e78484;
}
.pricing .row .pricingItem.pricing2 .pricingHeader .price,
.pricing .row .pricingItem.pricing2 .pricingHeader h3::before,
.pricing .row .pricingItem.pricing2 .pricingHeader .pricingBody ul li i.fa-check-circle {
  color: #b098eb;
}
.pricing .row .pricingItem.pricing3 .pricingHeader .price,
.pricing .row .pricingItem.pricing3 .pricingHeader h3::before,
.pricing .row .pricingItem.pricing3 .pricingHeader .pricingBody ul li i.fa-check-circle {
  color: #edd08c;
}
.pricing .row .pricingItem.pricing3 .pricingFooter .btn {
  background-color: #edd08c;
}

.contact {
  overflow: hidden;
}
.contact .container .row .contactDetails,
.contact .container .row .contactForm {
  grid-column: span 6;
  position: relative;
}
.contact .container .row .contactDetails .sectionTitle {
  text-align: left;
  margin-bottom: 1.5rem;
}
.contact .container .row .contactDetails .text1 {
  margin-bottom: 4rem;
}
.contact .container .row .contactDetails .contactInfo .contactInfoItem {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 3rem;
}
.contact .container .row .contactDetails .contactInfo .contactInfoItem i {
  position: absolute;
  left: 0;
  top: 0.7rem;
  font-size: 1.4rem;
}
.contact .container .row .contactDetails .socialLinks {
  margin-top: 2.5rem;
}
.contact .container .row .contactDetails .socialLinks ul {
  display: inline-flex;
}
.contact .container .row .contactDetails .socialLinks ul li {
  margin-right: 1.5rem;
}
.contact .container .row .contactDetails .socialLinks ul li a {
  height: 3.5rem;
  width: 3.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #b098eb;
  border-radius: 50%;
  transition: color 0.3s ease;
  position: relative;
}
.contact .container .row .contactDetails .socialLinks ul li a:hover {
  color: white;
}
.contact .container .row .contactDetails .socialLinks ul li a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #b098eb;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: transform 0.5s ease;
}
.contact .container .row .contactDetails .socialLinks ul li a:hover:hover::after {
  transform: scale(1);
}
.contact .container .row .contactForm::before, .contact .container .row .contactForm::after {
  content: "";
  position: absolute;
  transform: rotate(10deg);
}
.contact .container .row .contactForm::after {
  left: -1.5rem;
  bottom: 0;
  width: 2rem;
  height: 2rem;
  background-color: #b098eb;
  z-index: -1;
}
.contact .container .row .contactForm::before {
  right: -0.4rem;
  top: 0;
  width: 4rem;
  height: 4rem;
  background-color: #e78484;
  z-index: -1;
}
.contact .container .row .contactForm .iconBox {
  width: 12rem;
  -webkit-animation: moveX 4s linear infinite;
          animation: moveX 4s linear infinite;
}
.contact .container .row .contactForm .contactBox {
  background: rgba(255, 255, 255, 0.4);
  padding: 5rem;
  border-radius: 3rem;
  box-shadow: 0 0 1rem #d9c79b;
}
.contact .container .row .contactForm .contactBox form .inputBox {
  margin-bottom: 2rem;
}
.contact .container .row .contactForm .contactBox form .inputBox .inputControl {
  display: block;
  width: 100%;
  height: 4.2rem;
  background-color: transparent;
  color: #1a1a1a;
  border: none;
  border-bottom: 0.1rem solid #d9c79b;
  font-size: 1.6rem;
  font-family: inherit;
}
.contact .container .row .contactForm .contactBox form .inputBox .inputControl:focus {
  outline: none;
}
.contact .container .row .contactForm .contactBox form .inputBox .inputControl::-moz-placeholder {
  color: #4d4d4d;
}
.contact .container .row .contactForm .contactBox form .inputBox .inputControl:-ms-input-placeholder {
  color: #4d4d4d;
}
.contact .container .row .contactForm .contactBox form .inputBox .inputControl::placeholder {
  color: #4d4d4d;
}
.contact .container .row .contactForm .contactBox form textarea.inputControl {
  color: #1a1a1a;
  border: none;
  border-bottom: 0.1rem solid #d9c79b;
  font-size: 1.6rem;
  font-family: inherit;
  background-color: transparent;
  resize: none;
  height: 15rem;
  width: 100%;
}
.contact .container .row .contactForm .contactBox form .btn {
  margin-top: 2rem;
}

.footer {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.footer::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 20rem;
  width: 20rem;
  background: #e78484;
  border-radius: 50%;
  z-index: -1;
  transform: translate(50%, 50%);
}
.footer .footerTop {
  padding: 6rem 0;
  border-top: 0.1rem solid rgba(217, 199, 155, 0.4);
}
.footer .footerTop .container .row .footerItem {
  grid-column: span 4;
}
.footer .footerTop .container .row .footerItem h3 {
  text-transform: capitalize;
  margin: 0 0 1.5rem;
}
.footer .footerTop .container .row .footerItem ul li {
  margin-bottom: 0.6rem;
}
.footer .footerTop .container .row .footerItem ul li a {
  display: inline-block;
  color: #4d4d4d;
  text-transform: capitalize;
  transition: color 0.3s ease;
}
.footer .footerTop .container .row .footerItem ul li a:hover {
  color: #b098eb;
}
.footer .footerBottom {
  border-top: 0.1rem solid rgba(217, 199, 155, 0.4);
  padding: 2rem 0;
  text-align: center;
}/*# sourceMappingURL=main.css.map */